body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather-card {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: rgb(221, 220, 220);
  text-align: center;
  width: 350px;
  border: 1px solid rgba(136, 129, 129, 0.3);
}

input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 70%;
  margin-bottom: 10px;
  outline: none;
}

button {
  padding: 10px 25px;
  font-style: italic;
  border-radius: 10px;
  border: none;
  background-color: rgb(11, 224, 224);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
}

button:hover {
  background-color: #0891B2;
}

.status {
  margin-top: 20px;
  font-weight: bold;
}

.error {
  color: #ffcccc;
}

.result {
  margin-top: 30px;
}

.result h2 {
  font-size: 1.5rem;
  margin: 0;
}

.temp {
  font-size: 4rem;
  font-weight: bold;
  margin: 10px 0;
}

.condition {
  text-transform: capitalize;
  font-size: 1.2rem;
  opacity: 0.9;
}